<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profesor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Bienvenido :{{usuarioMostrar}} </h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{desRamoUno}}</ion-card-title>
      <ion-card-subtitle>TAV</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      004V
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aplicaciones MOviles</ion-card-title>
      <ion-card-subtitle>TAV</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      004V
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aplicaciones MOviles</ion-card-title>
      <ion-card-subtitle>TAV</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      004V
    </ion-card-content>
  </ion-card>
  <ion-button shape="round" [routerLink]="['/login']">volver a Login</ion-button>
</ion-content>
