<ion-header>
  <ion-toolbar>
    <ion-title>Home Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title> <h3>Bienvenido Profe: {{usuarioMostrar}}</h3></ion-card-title>
      <ion-card-subtitle> <h6>Correo: {{correoMostrar}}</h6></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-list>
      <ion-item *ngFor="let curso of cursos">
        <ion-label>
          <h2>Nombre: {{ curso.nombre }}</h2>
          <h3>ID: {{ curso.id }}</h3>
          <h3>Código: {{ curso.codigo }}</h3>
          <h3>Sección: {{ curso.seccion }}</h3>
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="verDetalleCurso(curso.id, curso.nombre)">Ver Detalle</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>



  <ion-button shape="round" [routerLink]="['/login']">volver a Login</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

       <ion-modal [keepContentsMounted]="true">
           <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
           </ng-template>
       </ion-modal>
    </ion-title>
  </ion-toolbar>

</ion-footer>