<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title> <h4>Bienvenido Alumno: {{alumnoMostrar}}</h4></ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  
  
  </ion-card>
  <ion-button shape="round" color="warning" [routerLink]="['/listar-qr']">Registar Clase Con QR</ion-button>
  <ion-button shape="round" [routerLink]="['/login']">volver a Login</ion-button>
     

    

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

       <ion-modal [keepContentsMounted]="true">
           <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
           </ng-template>
       </ion-modal>
    </ion-title>
  </ion-toolbar>

</ion-footer>


