<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" />
    <ion-card-header>
      <ion-card-title>Registro de Asistencia</ion-card-title>
    </ion-card-header> 
  </ion-card>

  <form [formGroup]="usuario">
        
    <ion-item>
      <ion-input label="" type="email" placeholder="User" formControlName="user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="" type="password" placeholder="password" value="password" formControlName="pass"></ion-input>
    </ion-item>
  </form>
  
  <ion-button shape="round"  (click)="login() ">ingresar</ion-button>
  <ion-button shape="round" [routerLink]="['/inicio']">volver</ion-button>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

       <ion-modal [keepContentsMounted]="true">
           <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
           </ng-template>
       </ion-modal>
    </ion-title>
  </ion-toolbar>

</ion-footer>