<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Bienvenido : Docente</h2>

  <ion-card>
    <img alt="Silhouette of mountains" src="https:/logodix.com/logo/1713923.png" />
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>ingrese crendeciañes</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-input label="User" labelPlacement="floating" placeholder="ingrese user"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Password" labelPlacement="floating" placeholder="ingrese Password"></ion-input>
  </ion-item>

  <ion-button expand="block" [routerLink]="['/home']"></ion-button>


</ion-content>